body {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

#navbar {
  background-color: white;
  min-width: 300px;
  border-right: 3px solid grey;
  display: block;
  position: fixed;
  height: 100%;
}

#navbar header {
  text-align: center;
  margin: 10px;
}

#navbar ul {
  list-style: none;
  display: block;
  height: 88%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#navbar li {
  width: 100%;
  border-top: 1px solid grey;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  cursor: pointer;
}

#navbar li:hover {
  background-color: whitesmoke;
}

#main-doc {
  padding: 20px;
  margin-left: 310px;
  margin-bottom: 110px;
}

header {
  font-size: 1.8em;
}

article {
  margin: 15px;
}

#main-doc li {
  margin: 15px 0 0 20px;
}

code {
  white-space: pre-line;
  background-color: #f3f3f3;
  padding: 15px;
  display: block;
}