<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Landing Page</title>
    <link rel="stylesheet" type="text/css" href="product_landing_page.css">
</head>
<body>
    <header id="header">
        <img id="header-img" src="imgs/Coffee_beans.svg" alt="">
        <h1> Costa Cofee</h1>
        <nav id="nav-bar">
            <ul>
                <li><a class="nav-link" href="#features">Features</a></li>
                <li><a class="nav-link" href="#preview">How It Works</a></li>
                <li><a class="nav-link" href="#pricing">Pricing</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section id="get-started">
            <h2>Authentic Coffee Beans Supplier</h2>
            <form id="form">
                <input id="email"
                       type="text"
                       name="email"
                       placeholder="Enter your email"
                />
                <input id="submit" type="submit" value="Get Started">
            </form>
        </section>
        <section id="features">
            <div class="feature-grid">
                <img src="imgs/raw-materials.png" class="feature-img" alt="">
                <article class="feature-text">
                    <h2>Premium Raw-Materials</h2>
                    <p>Our trombones use the shiniest brass which is sourced locally. This will increase the longevity of your purchase.</p>
                </article>
            </div>
            <div class="feature-grid">
                <img src="imgs/shipping.png" class="feature-img" alt="">
                <article class="feature-text">
                    <h2>Fast Shipping</h2>
                    <p>We make sure you recieve your trombone as soon as we have finished making it. We also provide free returns if you are not satisfied.</p>
                </article>
            </div>
            <div class="feature-grid">
                <img src="imgs/quality.png" class="feature-img" alt="">
                <article class="feature-text">
                    <h2>Quality Assurance</h2>
                    <p>For every purchase you make, we will ensure there are no damages or faults and we will check and test the pitch of your instrument.</p>
                </article>
            </div>
        </section>
        <section id="preview">
            <iframe
                    id="video"
                    src="https://www.youtube-nocookie.com/embed/Nu8kIIL-CDA?rel=0&amp;controls=0&amp;showinfo=0"
                    frameborder="0"
                    allowfullscreen
            ></iframe>
        </section>
        <section id="pricing">
            <div class="pricing-offer" id="first-offer">
                <div class="pricing-offer-label">Guatemala</div>
                <h2>$600</h2>
                <ul>
                    <li>Lorem ipsum.</li>
                    <li>Lorem ipsum.</li>
                    <li>Lorem ipsum dolor.</li>
                    <li>Lorem ipsum.</li>
                </ul>
                <button class="btn">Select</button>
            </div>
            <div class="pricing-offer" id="second-offer">
                <div class="pricing-offer-label">Kenya</div>
                <h2>$900</h2>
                <ul>
                    <li>Lorem ipsum.</li>
                    <li>Lorem ipsum.</li>
                    <li>Lorem ipsum dolor.</li>
                    <li>Lorem ipsum.</li>
                </ul>
                <button class="btn">Select</button>
            </div>
            <div class="pricing-offer" id="third-offer">
                <div class="pricing-offer-label">Colombia</div>
                <h2>$1200</h2>
                <ul>
                    <li>Lorem ipsum.</li>
                    <li>Lorem ipsum.</li>
                    <li>Lorem ipsum dolor.</li>
                    <li>Lorem ipsum.</li>
                </ul>
                <button class="btn">Select</button>
            </div>
        </section>
        <footer id="footer">
            <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <span>Copyright 2016, Original Trombones</span>
        </footer>
    </div>
</body>
</html>