* {
    margin: 0;
}

ul {
    list-style: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    background-color: whitesmoke;
}

#header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: wheat;
}

#header-img {
    width: 75px;
}

#header h1 {
    flex-grow: 1;
    align-self: center;
    padding-left: 10px;
}

#header ul {
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header li {
    margin-right: 75px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#get-started h2 {
    padding-top: 50px;
    padding-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
}

#get-started input[type='submit'] {
    margin-top: 15px;
    border: thin solid black;
    font-weight: 800;
    width: 150px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    align-self: center;
}

#get-started input[type='text'] {
    height: 25px;
    width: 250px;
}

#get-started input[type='submit']:hover {
    background-color: wheat;
    transition: background-color 1s;
}

#features {
    margin-top: 10%;
    background-color: whitesmoke;
}

.feature-grid {
    display: flex;
    justify-items: center;
    padding-bottom: 3%;
}

.feature-img {
    display: flex;
    height: 7vw;
    margin-right: 7%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .feature img {
        position: absolute;
        opacity: 0;
    }
}

.feature-text {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 125px;
    justify-content: center;
}

.feature-text h2{
    font-weight: bolder;
}

#preview {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#video {
    height: 315px;
    width: 560px;
}

#pricing {
    margin-top: 60px;
    display: flex;
}

.pricing-offer {
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.pricing-offer-label {
    background-color: #ddd;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;

}

.pricing-offer h2 {
    font-weight: 500;
    margin-top: 15px;
}

.pricing-offer ul {
    font-weight: lighter;
    text-align: center;
    padding: 0;
    margin: 15px 0;;

}

.btn {
    margin: 15px 0;
    padding: 0 15px;
    height: 40px;
    text-transform: uppercase;
    background-color: wheat;
    cursor: pointer;
    border: 0;
}

#footer {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 20px;
    margin-top: 30px;
}

#footer ul {
    height: 100%;
    display: flex;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    margin-left: 40px;
}

#footer span {
    color: grey;
}
